<nav class="navbar navbar-expand-lg navbar-custom mb-3">
    <!-- <a class="navbar-brand" [routerLink]="'.'">Responsive navbar</a> -->
    <div class="banner">
        <img
        width="40"
        alt="Controller Logo"
        src="https://www.freeiconspng.com/uploads/controller-game-icon-10.png"
        />
        <span class="text-white">Virtual Portfolio Leonardo Lizano</span>
    </div>
    <ul class="ml-auto mt-3">
        <button class="navbar-toggler nav navbar-nav ml-auto" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
        </button>

        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <div class="tab">
            <button id="aboutButton" class="tablinks" (click)="viewAboutMe()">About Me</button>
            <button class="tablinks" (click)="viewMyGames()">Games</button>
            <button class="tablinks" (click)="viewContact()">Contact</button> 
        </div>
        </div>
    </ul> 
</nav>
