<h2>My Games Portfolio</h2>
<br>
<div class="grid">
    <div class="grid__item">
      <div class="card"><img class="card__img" src="../assets/images/ForestSouldTitle2.png" alt="Snowy Mountains">
        <div class="card__content">
          <h2 class="card__header">Forest Souls</h2>
          <p class="card__text">A game prototype with endeless runner and bullet hell dynamics, born for <strong>GameJamPlus 2020</strong> and free to play on Itch.io with several bug fixes and upgrades since the event begun. Be the hero. Save the animals.</p>
          <a href="https://ricardo-cr23.itch.io/forestsouls" target="_blank">
            <button class="card__btn">Explore <span>&rarr;</span></button>
          </a>
        </div>
      </div>
    </div>
    <div class="grid__item">
      <div class="card"><img class="card__img" src="../assets/images/UndergroundPortada.PNG" alt="Desert">
        <div class="card__content">
          <h2 class="card__header">Underground Hunt</h2>
          <p class="card__text">Top down dynamic and quick prototype for <strong>GlobalGameJam 2021</strong>. Still a little buggy but quick and fun to play, Be careful with the Mutant Taltuzas! They want to eat all of your crops and you don't want that! Let's hunt them!</p>
          <a href="https://novus-tau-studios.itch.io/underground-hunt" target="_blank">
            <button class="card__btn">Explore <span>&rarr;</span></button>
          </a>
        </div>
      </div>
    </div>
    <div class="grid__item">
      <div class="card"><img class="card__img" src="../assets/images/ElaPortada.PNG" alt="Canyons">
        <div class="card__content">
          <h2 class="card__header">Ela in the Forest</h2>
          <p class="card__text">A curse has fallen in the Magic Forest and your mom is now sick, you'll have to collect some materials on the forest to save her. Prototype made for the Game Design course on my last college semester. <strong>This game is in Spanish.</strong></p>
          <a href="https://leonix99.itch.io/ela-in-the-forest" target="_blank">
            <button class="card__btn">Explore <span>&rarr;</span></button>
          </a>
        </div>
      </div>
    </div>
</div>
<br>
<h2>Prototypes</h2>
<br>